{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {prpr.a-frame.interceptor-chain {initiate {:arities {4 {:args [:any
                                                                                                      :any
                                                                                                      :sequential
                                                                                                      :any],
                                                                                               :ret {:op :keys,
                                                                                                     :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                     :req {:a-frame/app-ctx :any,
                                                                                                           :a-frame/router :any,
                                                                                                           :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                           :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                           :prpr.a-frame.interceptor-chain/history :vector}}}}},
                                                                        leave-all {:arities {1 {:args [{:op :keys,
                                                                                                        :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                        :req {:a-frame/app-ctx :any,
                                                                                                              :a-frame/router :any,
                                                                                                              :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                              :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                              :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                                :ret :any}}},
                                                                        assoc-opaque-keys {:arities {3 {:args [:any
                                                                                                               :any
                                                                                                               :any],
                                                                                                        :ret :any}}},
                                                                        leave-next {:arities {1 {:args [{:op :keys,
                                                                                                         :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                         :req {:a-frame/app-ctx :any,
                                                                                                               :a-frame/router :any,
                                                                                                               :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                               :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                               :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                                 :ret :any}}},
                                                                        enter-all {:arities {1 {:args [{:op :keys,
                                                                                                        :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                        :req {:a-frame/app-ctx :any,
                                                                                                              :a-frame/router :any,
                                                                                                              :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                              :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                              :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                                :ret :any}}},
                                                                        execute* {:arities {1 {:args [{:op :keys,
                                                                                                       :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                       :req {:a-frame/app-ctx :any,
                                                                                                             :a-frame/router :any,
                                                                                                             :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                             :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                             :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                               :ret :any},
                                                                                            3 {:args [:any
                                                                                                      :any
                                                                                                      {:op :keys,
                                                                                                       :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                       :req {:a-frame/app-ctx :any,
                                                                                                             :a-frame/router :any,
                                                                                                             :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                             :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                             :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                               :ret :any}}},
                                                                        terminate {:arities {1 {:args [{:op :keys,
                                                                                                        :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                        :req {:a-frame/app-ctx :any,
                                                                                                              :a-frame/router :any,
                                                                                                              :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                              :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                              :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                                :ret {:op :keys,
                                                                                                      :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                      :req {:a-frame/app-ctx :any,
                                                                                                            :a-frame/router :any,
                                                                                                            :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                            :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                            :prpr.a-frame.interceptor-chain/history :vector}}}}},
                                                                        register-interceptor {:arities {2 {:args [:keyword
                                                                                                                  {:op :keys,
                                                                                                                   :opt {:prpr.a-frame.interceptor-chain/name :keyword,
                                                                                                                         :prpr.a-frame.interceptor-chain/enter :fn,
                                                                                                                         :prpr.a-frame.interceptor-chain/leave :fn,
                                                                                                                         :prpr.a-frame.interceptor-chain/error :fn}}],
                                                                                                           :ret :any}}},
                                                                        clear-errors {:arities {1 {:args [{:op :keys,
                                                                                                           :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                           :req {:a-frame/app-ctx :any,
                                                                                                                 :a-frame/router :any,
                                                                                                                 :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                                 :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                                 :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                                   :ret {:op :keys,
                                                                                                         :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                         :req {:a-frame/app-ctx :any,
                                                                                                               :a-frame/router :any,
                                                                                                               :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                               :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                               :prpr.a-frame.interceptor-chain/history :vector}}}}},
                                                                        enter-next {:arities {1 {:args [{:op :keys,
                                                                                                         :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                         :req {:a-frame/app-ctx :any,
                                                                                                               :a-frame/router :any,
                                                                                                               :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                               :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                               :prpr.a-frame.interceptor-chain/history :vector}}],
                                                                                                 :ret :any}}},
                                                                        execute {:arities {4 {:args [:any
                                                                                                     :any
                                                                                                     :sequential
                                                                                                     :any],
                                                                                              :ret :any}}},
                                                                        enqueue {:arities {2 {:args [{:op :keys,
                                                                                                      :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                      :req {:a-frame/app-ctx :any,
                                                                                                            :a-frame/router :any,
                                                                                                            :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                            :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                            :prpr.a-frame.interceptor-chain/history :vector}}
                                                                                                     :sequential],
                                                                                              :ret {:op :keys,
                                                                                                    :opt {:prpr.a-frame.interceptor-chain/errors :any},
                                                                                                    :req {:a-frame/app-ctx :any,
                                                                                                          :a-frame/router :any,
                                                                                                          :prpr.a-frame.interceptor-chain/queue :vector,
                                                                                                          :prpr.a-frame.interceptor-chain/stack :sequential,
                                                                                                          :prpr.a-frame.interceptor-chain/history :vector}}}}}}}}}}
