/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.nrepl-history
.lein-deps-sum
.lein-repl-history
.lein-plugins/
/.lein-failures
.repl
.nrepl-port
/checkouts/
/.lein-env
/phantom/unit-test-js
/shadow-cljs.edn
/node_modules
