;; shadow-cljs configuration
{:source-paths
 ["src"
  "resources"
  "test-resources"
  "test"
  ]

 :dependencies
 [[org.clojure/clojurescript "1.11.4"
   :exclusions [com.cognitect/transit-clj
                com.google.code.findbugs/jsr305
                com.google.errorprone/error_prone_annotations
                com.google.guava/guava]]
  [org.clojure/clojure "1.11.0"]
  [org.clojure/tools.reader "1.3.6"]
  [org.clojure/core.async "1.5.648"]

  [yapsterapp/promisespromises "3.0.0-nustreams-SNAPSHOT"]]

 :builds
 {:node-test {:target    :node-test
              :output-to "target/node-test/node-tests.js"
              :ns-regexp ".*-test"
              :autorun   false
              :devtools {:preloads []}
              :compiler-options {:optimizations :simple
                                 :source-map true}
              :closure-defines {}}

  :node-test-autorun {:target    :node-test
                      :output-to "target/node-test-autorun/node-tests.js"
                      :ns-regexp ".*-test"
                      :autorun   true
                      :compiler-options {}
                      :closure-defines {}}
  }}
