{:lint-as
 {promisespromises.test/deftest clojure.test/deftest
  promisespromises.test/tlet clojure.core/let
  promisespromises.promise.lastcall/lastcall-fn clojure.core/fn
  promisespromises.promise.lastcall/def-lastcall-fn clojure.core/defn}

 :linters
 {:unused-namespace {:exclude [taoensso.timbre]}

  :unused-referred-var
  {:exclude {taoensso.timbre [trace debug info warn error fatal]}}}}
