{:lint-as
 {malli.experimental/defn schema.core/defn
  promesa.core/let clojure.core/let
  promesa.core/loop clojure.core/loop
  prpr.test/deftest clojure.test/deftest}
 :linters
 {:unused-namespace
  {:exclude [taoensso.timbre]}}}
